<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683063684780-qhbdejq6bh2og9428g8aokkkl6vkfe5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683063684780-qhbdejq6bh2og9428g8aokkkl6vkfe5t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>683063684780-3jn6a9ujco595n2qs72qg0pfcecoms70.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDn_x-ycuDsBgKpPBfYAexcTuE6eSbuzWg</string>
	<key>GCM_SENDER_ID</key>
	<string>683063684780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.jtak.delivery</string>
	<key>PROJECT_ID</key>
	<string>jtak-339412</string>
	<key>STORAGE_BUCKET</key>
	<string>jtak-339412.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683063684780:ios:a1e4e091402ae0c8a3f909</string>
</dict>
</plist>